<footer class="footer">
  <div class="container">
  <small class="">
    The <%= link_to "Ruby on Rails Tutorial", "http://railstutorial.org" %>
    By <%= link_to "Michael Hartl", "http://www.michaelhartl.com" %>
  </small>
  <nav>
    <ul class="">
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to 'News', 'https://news.railstutorial.org' %></li>
    </ul>
  </nav>
</div>
</footer>