<footer class="footer">
  <div class="container">
  <small class="">
    The <%= link_to "Ruby on Rails Tutorial", "http://railstutorial.org" %>
    By <%= link_to "Michael Hartl", "http://www.michaelhartl.com" %>
  </small>
  <nav>
    <ul class="">
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><%= link_to 'News', '#' %></li>
    </ul>
  </nav>
</div>
</footer>